.App {
  background-clip: content-box;
}

.header {
  top: 0;
}
.header-text {
  background: #ef629f;
  font-family: DM Serif text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -5px;
  font-size: 3rem;
}

.t-size {
  font-size: smaller;
  font-family: monospace;
}

.layout-margin {
  margin: 6rem 7rem 7rem 7rem;
}

.tags-field {
  width: 41%;
}
