@font-face {
  font-family: DM serif Text;
  src: url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
}

body {
  padding-bottom: 3px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 10px #eaeaea;
  background-color: #fff5f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.button.dgraph-btn {
  background: linear-gradient(135deg, #ff1800, #ff009b);
  color: white;
}

.ui.segment.header-seg {
  border: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0 0 10px #eaeaea;
  padding: 1.5em 1.5em;
  padding-top: 0px;
}

.ui.floated.header.right {
  padding-right: 8rem;
  transform: translate(0px, 20px);
}

.ui.floated.header.left {
  padding-left: 5rem;
  transform: translate(0px, 0px);
}

.ui.mini.image.avatar-align {
  align-self: flex-start;
}

.ui.form.comment-box textarea {
  min-height: 100px;
  width: 350px;
}

.ui.fluid.dropdown.category-field {
  width: 20%;
  min-width: fit-content;
}

.ui.mini.image.lightning-logo {
  height: 25px;
}

.form-field {
  margin-top: 50px;
}

.answer-button {
  margin-top: 20px;
}
